
<app-my-nav></app-my-nav>
<!-- <router-outlet></router-outlet> -->

  <section class="team-member-section grybg py-5">
    <div  style="align-items: center; justify-content: center; display:flex;" >
      <iframe width="560" height="315" src="https://www.youtube.com/embed/NacufPtQ0qI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>




  <app-emprendimientos></app-emprendimientos>



 <!-- ICONOS REDES SOCIALES -->
 <div class="cuadroredes">
  <ul class="social-icons margin-top-10">
      <li class="tooltips" data-toggle="tooltip" data-placement="bottom" ><a
                  href="https://www.facebook.com/ufpsinnova/" class="rounded social_facebook"></a>
     </li>
       <li class="tooltips" data-toggle="tooltip" data-placement="bottom" >
          <a href="https://www.instagram.com/_innovaufps_/" class="rounded social_instagram"></a>
     </li>
      <li class="tooltips" data-toggle="tooltip" data-placement="bottom" ><a
                  href="https://www.youtube.com/channel/UCvs9jLj3VNCc9BV89Len0QA" class="rounded social_youtube"></a>
     </li>
  </ul>
</div>
<!-- FIN ICONOS REDES SOCIALES -->
</section>


<app-my-footer></app-my-footer>


