<app-my-nav></app-my-nav>

<section class="grybg py-5">
  <div class="container" >
    <div class="row">
      <mat-card>
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <h1>17/05/2021</h1>
            </div>
            <div class="row">
              <h1 style="font-family: 'Open Sans', sans-serif;">
                Tres nuevos emprendimientos
                se suman a Innova Emprende
              </h1>
            </div>
          </div>
          <div class="col-md-4">
            <img  src="assets/img/noticia.PNG" alt="">
          </div>

        </div>
      </mat-card>
    </div>

    <div class="row">
      <mat-card>
        <div class="row">
          <div class="col-md-7">
            <div class="row">
              <h1>15/03/2021</h1>
            </div>
            <div class="row">
              <h1 style="font-family: 'Open Sans', sans-serif;">
                Innova UFPS realiza lanzamiento del catálogo "Innova Emprende"
              </h1>
            </div>
          </div>
          <div class="col-md-5 img-inno">
            <img class="" style="width:350px" src="assets/img/innova-emprende.PNG" alt="">
          </div>

        </div>
      </mat-card>
    </div>
  </div>

</section>

 <!-- ICONOS REDES SOCIALES -->
 <div class="cuadroredes">
  <ul class="social-icons margin-top-10">
      <li class="tooltips" data-toggle="tooltip" data-placement="bottom" ><a
                  href="#" class="rounded social_facebook"></a>
     </li>
       <li class="tooltips" data-toggle="tooltip" data-placement="bottom" >
          <a href="#" class="rounded social_instagram"></a>
     </li>
      <li class="tooltips" data-toggle="tooltip" data-placement="bottom" ><a
                  href="#" class="rounded social_youtube"></a>
     </li>
  </ul>
</div>
<!-- FIN ICONOS REDES SOCIALES -->

<app-my-footer></app-my-footer>
