<app-my-nav></app-my-nav>

<section class="grybg py-5">




  <div class="container">
    <div *ngFor="let docente of listaDocentes | async"class="row">
      <mat-card>
        <div class="row">
          <div class="col-md-8">
            <div class="row" id="fecha">
              <h1 style="color: aliceblue;">{{docente.fechaCreacion}}</h1>
            </div>
            <div class="row">
              <h1 style="font-family: 'Open Sans', italic">
                {{docente.titulo}}
              </h1>
            </div>
            <div class="row">
              <h2 style="font-family: 'Open Sans', italic">
                {{docente.descripcion}}
              </h2>
            </div>


          </div>
          <div class="col-md-4">
            <img src="{{docente.foto}}" alt="" />
          </div>
        </div>
        <a href="{{docente.linkNoticia}}"> Seguir Noticia</a>
      </mat-card>
    </div>
  </div>





</section>

<!-- ICONOS REDES SOCIALES -->
<div class="cuadroredes">
  <ul class="social-icons margin-top-10">
    <li class="tooltips" data-toggle="tooltip" data-placement="bottom">
      <a href="#" class="rounded social_facebook"></a>
    </li>
    <li class="tooltips" data-toggle="tooltip" data-placement="bottom">
      <a href="#" class="rounded social_instagram"></a>
    </li>
    <li class="tooltips" data-toggle="tooltip" data-placement="bottom">
      <a href="#" class="rounded social_youtube"></a>
    </li>
  </ul>
</div>
<!-- FIN ICONOS REDES SOCIALES -->

<app-my-footer></app-my-footer>
