<app-my-nav></app-my-nav>

<!--  seccion seleccionado -->
<section class="section-s grybg py-5" >
  <div style="padding: 10px;">
    <a href="social"><i class="fas fa-arrow-alt-circle-left atras"></i> </a>
    <h2 class="tex">atrás</h2>
</div>
  <div class="container">
    <div class="row" style="padding-top: 50px;">

      <div class="col-lg-6">
        <div class="contenido">
          <h1>Fundación</h1>
          <img class="hablemos-img" src="assets/img/hablemos.PNG" alt="">
          <h2>Haz clic en el video para conocer sobre esta iniciativa</h2>
          <div class="row">
            <div class="col-md-6">
           <a href="https://www.facebook.com/FunHablemos/"> 
            <img src="assets/img/fb.PNG" alt=""> 
          </a>
              <h2>Fundación Hablemos</h2>
            </div>
            <div class="col-md-6">
             <a href="https://www.instagram.com/funhablemos/"> 
              <img src="assets/img/ig.PNG" alt=""> 
            </a>
              <h2>@funhablemos</h2>
            </div>
            <div class="col-md-6">
              <a href="https://api.whatsapp.com/send?phone=+573142923457">
              <img src="assets/img/whats.jpeg" style="width: 120px; height: 100px;"> </a>
              <h2>+57 314 2923457</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="contenido2">
          <h1>La fundación es una iniciativa de profesionales
            de la UFPS que buscan rescatar el orgullo de ser
            nortesantandereanos a través de acciones ciudadanas.
          </h1>
         <iframe width="560" height="315" src="https://www.youtube.com/embed/2dD9DgJtATM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>

  </div>
</section>
<!--  seccion seleccionado fin -->

<app-my-footer></app-my-footer>
