<!--footer  inicio-->
    <section class="footer-section">
      <div class="footer-top  py-5">
          <div class="container" >
              <div class="row">
                  <div class="col-lg-4 ">
                      <div class="footer-widget cont" style="border-left: none;">
                          <h3>Contáctanos</h3>
                          <div class="footer-contact">
                              <div class="footer-contact-item d-flex">
                                  <span><i class="fas fa-map-marker-alt"></i></span>
                                  <a >Cúcuta, Colombia</a>
                              </div>
                              <div class="footer-contact-item d-flex" style="padding: 4px;">
                                  <span><i class="fas fa-envelope-square"></i></span>
                                  <a >innovaufps@ufps.edu.co</a>
                              </div>
                              <div class="footer-contact-item d-flex">
                                <span><i class="fas fa-phone"></i></span>
                                <p> 5776655 EXT. 397</p>
                            </div>
                          </div>
                      </div>
                  </div>

                  <div class="col-lg-4">
                    <div class="footer-widget cont ">
                      <img src="assets/img/innova-logo2.png">
                    </div>
                  </div>

                  <div class="col-lg-4">
                    <div class=" cont " style="height: 120px;">
                      <img class="logoU" src="assets/img/logoufps2.png">
                        </div>
                    </div>
              </div>
          </div>
      </div>
  </section>
<!--footer fin-->
