<app-my-nav></app-my-nav>

<!-- inicio seccion -->
<section class="section-s grybg py-2" >
  <div style="padding: 7px;">
    <a href="emprendimientos"><i class="fas fa-arrow-alt-circle-left atras"></i> </a>
    <h2 class="tex">atrás</h2>
</div>

  <div class="container" style="padding-top: 85px;">
    <div class="titulo-emprendimientos" >
      <h1>
        Gastronomía
    </h1>
</div>

<div class="row mt-5">
    <div class="col-lg-4">
        <div class="emprendimientos">
            <div class="team-image">
               <a href="cuba" > <img class="img-emprendimiento" src="assets/img/cuba-sandwich.png"  alt=""></a>
            </div>
            <div class="texto-emprendimientos" >
              <h4>
               Cuba Sándwich </h4>
               
            </div>
        </div>
    </div>

    <div class="col-lg-4">
      <div class="emprendimientos">
          <div class="team-image">
             <a href="kfrut" > <img class="img-emprendimiento" src="assets/img/kfrut.png"  width="55%" height="40%" alt=""></a>
          </div>
          <div class="texto-emprendimientos" >
            <br>
            <h4 >
             KFRUT </h4>
             
          </div>
      </div>
  </div>

</div>
</div>


    <!-- ICONOS REDES SOCIALES -->
<div class="cuadroredes">
    <ul class="social-icons margin-top-10">
        <li class="tooltips" data-toggle="tooltip" data-placement="bottom" ><a
                    href="https://www.facebook.com/ufpsinnova/" class="rounded social_facebook"></a>
       </li>
         <li class="tooltips" data-toggle="tooltip" data-placement="bottom" >
            <a href="https://www.instagram.com/_innovaufps_/" class="rounded social_instagram"></a>
       </li>
        <li class="tooltips" data-toggle="tooltip" data-placement="bottom" ><a
                    href="https://www.youtube.com/channel/UCvs9jLj3VNCc9BV89Len0QA" class="rounded social_youtube"></a>
       </li>
    </ul>
   </div>
<!-- FIN ICONOS REDES SOCIALES -->


</section>
<!-- fin seccion -->
<app-my-footer></app-my-footer>




















