 <!--menu-->
 <nav class="navbar navbar-expand-lg navbar-light main-header sticky-top">
  <div class="container">

      <a class="navbar-brand" href="#">
          <img class="logo-innova "src="assets/img/innova-logo2.png" alt="">
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <ul class="navbar-nav ml-auto primary-menu">
              <li><a href="#">Inicio</a></li>
              <li><a href="actualidad">Actualidad</a></li>
              <li><a href="servicios">Servicios</a></li>
          </ul>

        </div>
  </div>
</nav>
<!--menu fin-->
<router-outlet></router-outlet>
