<app-my-nav></app-my-nav>

<!--  seccion seleccionado -->
<section class="section-s grybg py-2" >
  <div style="padding: 7px;">
    <a href="medio"><i class="fas fa-arrow-alt-circle-left atras"></i> </a>
    <h2 class="tex">atrás</h2>
</div>


<div class="contenido">
     <div align="center">
      <img src="assets/img/kfrut.png">
      <hr>
     </div>
     
<div class="container">
    <div class="row" style="padding-top: 50px;">
      <div class="col-lg-6">
        <iframe width="560" height="315" src="https://youtu.be/S4zDv8NjwcA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

      <div class="col-lg-6">
        <h2 class="font-italic">KFRUT es un emprendimiento inspirado en la realización de raspados, helados, 
        cholados y maracumangos, donde ellos mismos realizan sus propios jarabes. Tienen la visión de 
        lanzar el servicio de coctelería en los próximos días.
        Los productos que ofrece KFRUT son:
        </h2>

        <ul class="list-group list-group-flush">
            <li class="list-group-item">Cholados</li>
            <li class="list-group-item">Raspados</li>
            <li class="list-group-item">Cholado sin helado</li>
            <li class="list-group-item">Helados</li>
            <li class="list-group-item">Maracumangos</li>
            <li class="list-group-item">Café frappé</li>
          </ul>

          
      </div>

    </div>
</div>

<div align="center">
    <div class="row" style="background-color: rgb(195, 238, 241);">
<h2>Ubicación: calle 0 #10ª-99 Barrio San Martín, Cúcuta, Norte de Santander</h2>
<h2>Horario de atención: 10:00 AM – 12:30 PM y 3:00 PM – 8:30 PM</h2>
   </div>
   </div>
<hr>

<div class="container">
    <div class="row" style="padding-top: 50px;">
      <div class="col-lg-12">
<div align="center">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="assets/img/kfrut1.png" class="d-block w-70" alt="...">
              </div>
              <div class="carousel-item">
                <img src="assets/img/kfrut2.png" class="d-block w-70" alt="...">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>


<hr>  
<div align="center">
<div class="row" style="background-color: rgb(255, 255, 255);">






   <div class="col-md-6">
    <a href="https://www.instagram.com/kfrutcolombia/?utm_medium=copy_link"> 
     <img align="center" src="assets/img/ig.PNG" alt="" > 
   </a>
     <h2>@kfrutcolombia</h2>
   </div>
   <div class="col-md-6">
     <a href="https://api.whatsapp.com/send/?phone=573124628896">
     <img src="assets/img/whats.jpeg" style="width: 120px; height: 70px;"> </a>
     <h2>+57 3124628896</h2>
   </div>
</div>
</div>
<hr>

</div>
<!--  seccion seleccionado fin -->

<app-my-footer></app-my-footer>
