<app-my-nav></app-my-nav>

<!--Menu informativo inicio-->
<section class="grybg py-5">
  <div class="container" >
      <div class="row row-info">
          <div class="col-lg-6">
            <div  style="align-items: center; justify-content: center; display:flex;" >
               <iframe width="560" height="315" src="https://www.youtube.com/embed/cqY8vM7Axzw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
          <div class="col-lg-6">
            <span><img class="logo-innova-emprende" src="assets/img/innova-emprende.PNG"  ></span>

                <h2>"Innova Emprende" es el catálogo
                  de Innova UFPS donde visibilizamos los emprendimientos e ideas de negocio que hacen
                  parte de nuestra unidad.
                </h2>

          </div>
      </div>
      <div class="row row-info" >
        <div class="col-lg-6 " >
          <span><img class="logo-innova" src="assets/img/innova-logo2.png" alt=""></span>
        </div>
        <div class="div col-lg-6">
             <h1 style="font-family: 'Open Sans', sans-serif;">Quiénes somos</h1>
             <h2>La unidad de emprendimiento de la universidad Francisco de
                 Paula Santander en la que estudiantes y docentes pueden llevar
                  a cabo sus iniciativas empresariales para dar solución a los
                  problemas presentes en la sociedad
             </h2>
        </div>
    </div>
  </div>
</section>
<!--Menu informativo fin-->

<!-- inicio secction servicios -->
<section class="grybg py-5">
  <div class="container" >
    <div class="row" class="inicio">
      <img src="assets/img/innova-emprende.PNG" alt="">
      <h1 style="font-family: 'Open Sans', sans-serif;">Apoyo para tu emprendimiento</h1>
    </div>





    <!-- -->
     <section class="why-choose-us grybg py-5">
        <div class="container">
            <div class="row">

                <div class="col-lg-12">
                    <div class="row feature-items">

                        <div class="col-lg-3">
                            <div class="content-item text-center mt-">
                                <div class="ft-icon">
                                    <i class="fas fa-search"></i>
                                </div>
                                <h3 class="py-4">Ideación e iniciación</h3>
                              </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="content-item text-center">
                                <div class="ft-icon">
                                    <i class="fas fa-users"></i>
                                </div>
                                <h3 class="py-4">Educación para el emprendimiento</h3>
                              </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="content-item text-center">
                                <div class="ft-icon">
                                    <i class="fas fa-user-check"></i>
                                </div>
                                <h3 class="py-4">Validación y prototipado </h3>
                              </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="content-item text-center">
                                <div class="ft-icon">
                                    <i class="fas fa-pencil-alt"></i>
                                </div>
                                <h3 class="py-4">Asesoría para financiación</h3>
                              </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section><!-- Final de servicios -->

    <div class="row" class="contenido-final">
      <h1>Para obtener mayor información sobre nuestros servicios,
        contactános a través de:</h1>
    </div>
    <div class="row " >
      <div class="col-lg-4 redes2 "  >
      <a href="https://www.facebook.com/ufpsinnova/"> 
        <img class="redes" src="assets/img/fb.PNG" alt="">
      </a> 
        <h1>Innova UFPS</h1>
      </div>
      <div class="col-lg-4 redes2 " >
        <a href="https://www.instagram.com/_innovaufps_/">
          <img class="redes"  src="assets/img/ig.PNG" alt="">
        </a>
        <h1>@_innovaufps_</h1>
      </div>
      <div class="col-lg-4 redes2" >
        <img  class="redes" src="assets/img/meet.PNG" alt="">
        <h1>Oficina virtual</h1>
      </div>
    </div>


  </div><!-- Final de container -->
</section>


<app-my-footer></app-my-footer>
