<!-- inicio seccion -->
<section class="section-e grybg py-5">
  <div class="container">
    <div class="titulo-emprendimientos" >
      <h1>
        Conoce nuestros emprendimientos
      </h1>
    </div>
        <div class="row mt-5">
          <div class="col-lg-4">
              <div class="emprendimientos">
                <div class="team-image">
                  <a href="" >   <img class="img-emprendimiento" style="width: 233px; height: 233px;"
                     src="assets/img/gastronomia.PNG" alt=""></a>

                </div>
                  <div class="texto-emprendimientos" >
                    <h4 style="padding-top: 15px;">
                      Gastronomía</h4>

                  </div>
              </div>
          </div>

            <div class="col-lg-4">
              <div class="emprendimientos">
                  <div class="team-image">
                    <a href="" >   <img class="img-emprendimiento"  style="width: 233px; height: 233px;"
                      src="assets/img/belleza.PNG" alt=""></a>

                  </div>
                  <div class="texto-emprendimientos" style=" margin-left: 50px;" >
                    <h4 style="padding-top: 15px;">
                      Belleza</h4>

                  </div>
              </div>
          </div>
          <div class="col-lg-4">
            <div class="emprendimientos">
                <div class="team-image">
                  <a href="social" >  <img class="img-emprendimiento" style="margin-left: 10px; width: 233px; height: 233px;" src="assets/img/sociales.PNG" alt=""></a>

                </div>
                <div class="texto-emprendimientos" >
                  <h4 style="padding-top: 15px;">
                    Sociales y culturales</h4>

                </div>
            </div>
        </div>
        <div class="col-lg-4" style="padding-top: 10%;">
          <div class="emprendimientos">
              <div class="team-image">
                <a href="" >   <img class="img-emprendimiento" style="width: 233px; height: 233px;" src="assets/img/medio.PNG" alt=""></a>

              </div>
              <div class="texto-emprendimientos" >
                <h4 style="padding-top: 15px;">
                 Medio ambiente</h4>

              </div>
          </div>
      </div>
      <div class="col-lg-4" style="padding-top: 10%;">
          <div class="emprendimientos">
              <div class="team-image">
                <a href="" >   <img class="img-emprendimiento" style="width: 233px; height: 233px;" src="assets/img/artesanias.PNG" alt=""></a>

              </div>
              <div class="texto-emprendimientos" style=" margin-left: 40px;">
                <h4>
                 Artesanías</h4>

              </div>
          </div>
      </div>
    </div>
  </div>
</section>
<!-- fin seccion -->

